<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Page Title</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' media='screen' href='index.css'>
        <link rel='stylesheet' media='screen' href='layout.css'>
        <script src='main.js'></script>
    </head>
    <body>
      <header>
        <nav>
          <a href="/relatorios"><div>Relatórios</div></a>
          <a href="/tables"><div>Tabelas</div></a>
        </nav>
      </header>
      <main>
        <h1 class="balloon">LANDING PAGE</h1>
        <div class="balloon">
          <p>Por favor selecione um dos botões na navbar para utilizar do sistema.</p>   
        </div>
      </main>
      <button></button>


    </body>
</html>
